# EDA í”„ë¡œì íŠ¸(Youtube) - Numpy& Pandas

## í•„ìš”í•œ íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°

In [5]:
import numpy as np
import pandas as pd

## ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°(KR_youtube_trending_data.csv, category_name.csv)
- â€˜category_name.csvâ€™ëŠ” ë°ì´í„°ì— ìˆëŠ” â€˜categoryIdâ€™ì— ëŒ€í•´ ë” ìì„¸íˆ ì„¤ëª…ë˜ì–´ ìˆëŠ” ë°ì´í„°ì…ë‹ˆë‹¤. (reference ë§í¬ì— ìˆëŠ” json íŒŒì¼ì„ csvë¡œ ë³€í™˜í•œ í˜•íƒœì…ë‹ˆë‹¤.)
- KR_youtube_trending_data.csvëŠ” ë³€ìˆ˜ëª… dfë¡œ, category_name.csvëŠ” ë³€ìˆ˜ëª… cat ìœ¼ë¡œ ê°€ì ¸ì™€ì£¼ì„¸ìš”. (ê¼­ ë³€ìˆ˜ëª…ì´ dfì™€ catì¼ í•„ìš”ëŠ” ì—†ì§€ë§Œ í¸ì˜ë¥¼ ìœ„í•´ ì„¤ì •í–ˆìŠµë‹ˆë‹¤.)

In [6]:
# ì‚¬ìš©í•  ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("C:/Users/ê¹€ì§€í¬/DSL/dataset/KR_youtube_trending_data.csv")
cat = pd.read_csv("C:/Users/ê¹€ì§€í¬/DSL/dataset/category_name.csv")

## dfì— ëŒ€í•´ íƒêµ¬í•´ë³´ì•„ìš”. (ì¤‘ê°„ì¤‘ê°„ì— df í˜¹ì€ df.head()ë¥¼ ê³„ì† ì¶œë ¥í•˜ë©´ì„œ ì˜ ë˜ê³  ìˆëŠ”ì§€ í™•ì¸í•´ì£¼ì„¸ìš”~~)

In [7]:
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09T09:32:48Z,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12T00:00:00Z,ë³´ê²¸|bokyem,5947503,53326,105756,139946,https://i.ytimg.com/vi/uq5LClQN3cE/default.jpg,False,False,NaN
1,I-ZbZCHsHD0,ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„],2020-08-12T09:00:08Z,UCRuSxVu4iqTK5kCh90ntAgA,ì´ëª‡ëª…,1,2020-08-12T00:00:00Z,ì´ëª‡ëª…|ì¬ë°ŒëŠ” ë§Œí™”|ë¶€ë½í† ìŠ¤|ë£¨ì‹œí¼|ì´ëª‡ëª… í”„ë¦¬í€„|ì´ëª‡ëª… ìŠ¤í† ë¦¬,963384,28244,494,3339,https://i.ytimg.com/vi/I-ZbZCHsHD0/default.jpg,False,False,"ì˜¤ëŠ˜ë„ ì •ë§ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤!!ì´ëª‡ëª… ìŠ¤íŠœë””ì˜¤ - ì´ëª‡ëª…, ì‹­ì œê³±, 5Gë¯¼, MOVEí˜..."
2,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10T09:54:13Z,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-12T00:00:00Z,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,2950885,17974,68898,50688,https://i.ytimg.com/vi/9d7jNUjBoss/default.jpg,False,False,NaN
3,3pI_L3-sMVg,á„‹á…¡á†«á„‚á…§á†¼á„’á…¡á„‰á…¦á„‹á…­ ê½ˆëšœë£¹ì…ë‹ˆë‹¤.,2020-08-11T15:00:58Z,UCkQCwnkQfgSuPTTnw_Y7v7w,ê½ˆëšœë£¹ Quaddurup,24,2020-08-12T00:00:00Z,ê½ˆëšœë£¹|í•œêµ­ì—¬í–‰ê¸°|quaddurup|ëšœë£¹ì´|korea|southkorea|vlog|...,1743374,36893,1798,8751,https://i.ytimg.com/vi/3pI_L3-sMVg/default.jpg,False,False,ì•ìœ¼ë¡œ ì¢€ ë” ê¹”ë”í•œ ì˜ìƒì œì‘ ì•½ì† ë“œë¦¬ê² ìŠµë‹ˆë‹¤.ëŠ˜ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤
4,zrsBjYukE8s,ë°•ì§„ì˜ (J.Y. Park) When We Disco (Duet with ì„ ë¯¸) M/V,2020-08-11T09:00:13Z,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12T00:00:00Z,JYP Entertainment|JYP|J.Y.Park|JYPark|ë°•ì§„ì˜|ì„ ë¯¸|S...,3433885,353337,9763,23405,https://i.ytimg.com/vi/zrsBjYukE8s/default.jpg,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...

ìœ íŠœë¸Œ ì˜ìƒì˜ ì œëª©, ì˜¬ë¦° ë‚ ì§œ, ì²´ë„ ì œëª© ë“±ì´ ë‚˜ì™€ìˆìŒì„ ì•Œ ìˆ˜ ìˆë‹¤.

### í–‰ê³¼ ì—´ì˜ ê°œìˆ˜ í™•ì¸í•˜ê¸°

In [8]:
# í–‰ê³¼ ì—´ ê°œìˆ˜
print(df.shape)
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

(137554, 16)
There are 137554 rows and 16 columns

### ì—´ì´ë¦„ 16ê°œ ëª¨ë‘ ì¶œë ¥í•˜ê¸°

In [9]:
# ì—´ì´ë¦„ ì¶œë ¥í•˜ê¸°
df.columns

Index(['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'categoryId', 'trending_date', 'tags', 'view_count', 'likes',
       'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled',
       'ratings_disabled', 'description'],
      dtype='object')

### ìš”ì•½ ì •ë³´ í™•ì¸í•˜ê¸°

In [10]:
# ìš”ì•½ ì •ë³´ í™•ì¸í•˜ê¸°
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137554 entries, 0 to 137553
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           137554 non-null  object
 1   title              137554 non-null  object
 2   publishedAt        137554 non-null  object
 3   channelId          137554 non-null  object
 4   channelTitle       137554 non-null  object
 5   categoryId         137554 non-null  int64
 6   trending_date      137554 non-null  object
 7   tags               137554 non-null  object
 8   view_count         137554 non-null  int64
 9   likes              137554 non-null  int64
 10  dislikes           137554 non-null  int64
 11  comment_count      137554 non-null  int64
 12  thumbnail_link     137554 non-null  object
 13  comments_disabled  137554 non-null  bool
 14  ratings_disabled   137554 non-null  bool
 15  description        134011 non-null  object
dtypes: bool(2), int64(5), object(9)
memory usage: 15.0+ MB
None

- descriptionì—´ë§Œ Non-Nullì˜ ê°’ì´ ì´ í–‰ ìˆ˜ì™€ ê°™ì§€ ì•ŠìŒ => ê²°ì¸¡ì¹˜ ìˆìŒ  
    => í™•ì‹¤í•œ í™•ì¸ ìœ„í•´ isnull().sum()ì„ ì´ìš©í•´ì„œ í™•ì¸í•˜ê¸°
- categoryIdì˜ typeì´ ì •ìˆ˜ë¡œ ë˜ì–´ ìˆìŒ => ë²”ì£¼í˜• ìë£Œë¡œ ì¹´í…Œê³ ë¦¬ë³„ ì˜ìƒ ìˆ˜ë¥¼ í™•ì¸í•´ë³¼ ìˆ˜ ìˆìŒ  
    => ì´í›„ cat DataFrameê³¼ í•©ì¹  ìˆ˜ ìˆëŠ” ì—°ê²°ê³ ë¦¬
- publishedAt, trending_dateê°€ object í˜•íƒœë¡œ ë‚˜ì™€ìˆìŒ => ì‹œê°„ìˆœìœ¼ë¡œ íŒ¨í„´ ì°¾ì„ ë•Œ ì²˜ë¦¬ í•„ìš”í• ë“¯!

In [11]:
# ê° ì—´ ë³„ ê²°ì¸¡ì¹˜ ìˆ˜ í™•ì¸í•˜ê¸°
# => descriptionì—ë§Œ ê²°ì¸¡ì§€ê°€ ìˆê³ , ë‚˜ë¨¸ì§€ ì—´ì—ì„œëŠ” ê²°ì¸¡ì¹˜ê°€ ì—†ìŒ
# ì´ ê²½ìš° ê²°ì¸¡ì¹˜ë¥¼ ë‹¤ ""ë‚˜ " "ìœ¼ë¡œ ì²˜ë¦¬í•´ë„ ê´œì°®ì„ ê²ƒ ê°™ìŒ (ì‚­ì œí•  í•„ìš” ì—†ìŒ, êµ³ì´ ì²˜ë¦¬ ì•ˆí•´ë„ ë¨)
df.isnull().sum()

video_id                0
title                   0
publishedAt             0
channelId               0
channelTitle            0
categoryId              0
trending_date           0
tags                    0
view_count              0
likes                   0
dislikes                0
comment_count           0
thumbnail_link          0
comments_disabled       0
ratings_disabled        0
description          3543
dtype: int64

In [12]:
# ìš”ì•½ì •ë³´ë¥¼ ì œê³µí•  ìˆ˜ ìˆëŠ” intë‚˜ floatí–‰ë§Œ ì¶œë ¥ê°€ëŠ¥(ì—¬ê¸°ëŠ” ì „ë¶€ int)
df.describe()

          categoryId    view_count         likes       dislikes  comment_count
count  137554.000000  1.375540e+05  1.375540e+05  137554.000000   1.375540e+05
mean       20.426843  1.618720e+06  7.406458e+04     870.091957   8.841621e+03
std         6.267271  6.166372e+06  4.292023e+05    9655.556540   1.125411e+05
min         1.000000  0.000000e+00  0.000000e+00       0.000000   0.000000e+00
25%        19.000000  3.356400e+05  5.743000e+03       0.000000   5.470000e+02
50%        23.000000  6.521940e+05  1.157800e+04     129.000000   1.215000e+03
75%        24.000000  1.307116e+06  2.634875e+04     350.000000   2.870000e+03
max        29.000000  2.963142e+08  1.646425e+07  879358.000000   6.939302e+06

### ë¶„ì„ê³¼ëŠ” ì•ìœ¼ë¡œ ê´€ë ¨ì—†ì„ ì—´ 'thumbnail_link' ì œê±°í•˜ê¸°

In [13]:
# ë¶„ì„ê³¼ëŠ” ì•ìœ¼ë¡œ ê´€ë ¨ì—†ì„ ì—´ 'thumbnail_link' ì œê±°í•˜ê¸°
df = df.drop('thumbnail_link',axis=1)

### 'title'ì˜ ê³ ìœ í•œ ê°œìˆ˜ ì°¾ê¸°

In [14]:
# 'title'ì˜ ê³ ìœ í•œ ê°œìˆ˜ ì°¾ê¸°
df['title'].nunique()

18079

In [15]:
df['title'].unique()

array(['ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤', 'ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„]', 'í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.', ...,
       '[EN] â˜…íŠ¹ë³„í¸â˜… ì•¼êµ¬ì¥ ìŠ¤í˜ì…œ [ë‘˜ì´ ì™”ì–´ìš” EP56]', 'ì–´ì„œì™€~ í•œêµ­ì€ ì²˜ìŒì´ì§€!?ğŸ˜ğŸ‡°ğŸ‡·',
       'ì±„êµ´ ëë‚œ ì¤„ ì•Œê³  ë¬´ë„ˆì§„ ì±„ ë°©ì¹˜ëœ íê´‘ ì•„ë˜ ì†ë„ ëŒ€ì§€ ì•Šì€ í™©ê¸ˆ ë°œê²¬! ê¸ˆê´‘ìœ¼ë¡œ íš¨ìš©ê°€ì¹˜ëŠ”?ã…£í™©ê¸ˆë¹› ê¿ˆì„ ìºë‹¤! ê¸ˆê´‘ ê°±ë„ ë³´ìˆ˜ ì‘ì—… í˜„ì¥ã…£ê·¹í•œì§ì—…ã…£#ê³¨ë¼ë“„ë‹¤í'],
      dtype=object)

ì´ ì˜ìƒì˜ ìˆ˜ëŠ” 137554ê°œì¸ ê²ƒì— ë°˜í•´ 'title'ì˜ ê³ ìœ ê°’ë“¤ì€ 18079ê°œì´ë‹¤. ì´ ë§ì€ ê°™ì€ titleì„ ê°€ì§„ ì˜ìƒë“¤ì´ ì—¬ëŸ¬ê°œ ìˆë‹¤ëŠ” ê²ƒì´ë‹¤. ì˜ˆë¥¼ ë“¤ì–´ 2020ë…„ì— ìœ íŠœë¸Œì—ì„œ ì£„ì†¡í•©ë‹ˆë‹¤ ì±Œë¦°ì§€ê°€ ìˆì—ˆëŠ”ë° ì´ë•Œ 'ì£„ì†¡í•©ë‹ˆë‹¤'ë¼ëŠ” ì œëª©ìœ¼ë¡œ ì—¬ëŸ¬ ì˜ìƒë“¤ì´ ì˜¬ë¼ì˜¤ê³¤ í–ˆë‹¤. ì´ì²˜ëŸ¼ ë‹¤ë¥¸ ì˜ìƒì´ë”ë¼ë„ ì œëª©ë§Œ ê°™ìœ¼ë©´ í•˜ë‚˜ë¡œ ë¬¶ì´ê¸° ë•Œë¬¸ì— ê°¯ìˆ˜ê°€ ë§ì´ ì°¨ì´ë‚˜ëŠ” ê²ƒ ê°™ë‹¤.

### 'video_id'ì˜ ê³ ìœ í•œ ê°œìˆ˜ ì°¾ê¸°

In [16]:
# 'video_id'ì˜ ê³ ìœ í•œ ê°œìˆ˜ ì°¾ê¸°
df['video_id'].nunique()

16930

ì´ ê²°ê³¼ë¥¼ í†µí•´ì„œ ë°ì´í„°ì…‹ì— ë‹´ê¸´ ì‹œê¸°ì— ì˜ìƒì„ ì˜¬ë¦° ê³„ì •ì˜ ìˆ˜ë¥¼ í™•ì¸í•  ìˆ˜ ìˆë‹¤.  
'title'ì˜ ê²½ìš°ëŠ” ê°™ì€ ì´ë¦„ì„ í•œ ì˜ìƒì„ 1ê°œë¡œ countí•˜ê³ , 'video_id'ì˜ ê²½ìš°ëŠ” ê°™ì€ ì•„ì´ë””ë¡œ ë§Œë“  ì˜ìƒì„ 1ê°œë¡œ ì·¨ê¸‰í•˜ê¸° ë•Œë¬¸ì— ë‹¹ì—°íˆ ë‹¤ë¥¼ ìˆ˜ë°–ì— ì—†ë‹¤.

### â€˜comments_disabledâ€™ì—´ì´ Trueë¼ë©´, â€˜comment_countâ€™ë„ 0ì¼ ê²ƒì„. ì´ê²ƒì´ ì‚¬ì‹¤ì¸ì§€ í™•ì¸í•´ë³´ê¸°.

In [18]:
df.loc[df['comments_disabled']==True, 'comment_count'].head()

33     0
47     0
191    0
205    0
349    0
Name: comment_count, dtype: int64

###  'ratings_disabledâ€™ì—´ì´ Trueë¼ë©´, â€˜likesâ€™, â€˜dislikesâ€™ ëª¨ë‘ 0ì¼ ê²ƒì„. ì´ê²ƒ ë˜í•œ ì‚¬ì‹¤ì¸ì§€ í™•ì¸í•´ë³´ê¸°.

In [19]:
df.loc[df['ratings_disabled']==True,['likes', 'dislikes']].head()

     likes  dislikes
57       0         0
107      0         0
214      0         0
257      0         0
366      0         0

### ì—´ â€˜publishedAtâ€™, ì—´ â€˜trending_dateâ€™ ë‘˜ ë‹¤ object í˜•íƒœì„ì„ ìœ„ì—ì„œ í™•ì¸í•˜ì˜€ìœ¼ë‹ˆ, ì´ë¥¼ ëª¨ë‘ datatime64[ns] í˜•íƒœë¡œ ë³€í™˜í•˜ê¸°.

In [20]:
df[['publishedAt', 'trending_date']].head()

            publishedAt         trending_date
0  2020-08-09T09:32:48Z  2020-08-12T00:00:00Z
1  2020-08-12T09:00:08Z  2020-08-12T00:00:00Z
2  2020-08-10T09:54:13Z  2020-08-12T00:00:00Z
3  2020-08-11T15:00:58Z  2020-08-12T00:00:00Z
4  2020-08-11T09:00:13Z  2020-08-12T00:00:00Z

In [21]:
df['publishedAt'] = pd.to_datetime(df['publishedAt'], format='%Y-%m-%dT%H:%M:%SZ')

In [22]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%Y-%m-%dT00:00:00Z')

In [23]:
print(df[['publishedAt', 'trending_date']].head())

print('-'*30)

print(df[['publishedAt', 'trending_date']].info())

          publishedAt trending_date
0 2020-08-09 09:32:48    2020-08-12
1 2020-08-12 09:00:08    2020-08-12
2 2020-08-10 09:54:13    2020-08-12
3 2020-08-11 15:00:58    2020-08-12
4 2020-08-11 09:00:13    2020-08-12
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137554 entries, 0 to 137553
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   publishedAt    137554 non-null  datetime64[ns]
 1   trending_date  137554 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 2.1 MB
None

### ì—´ â€˜categoryIdâ€™ë¥¼ int typeì´ ì•„ë‹Œ category typeë¡œ ë³€í™˜í•˜ê¸°.

In [24]:
df['categoryId'].head()

0    24
1     1
2    22
3    24
4    10
Name: categoryId, dtype: int64

In [25]:
df['categoryId'] = df['categoryId'].astype('category')

In [26]:
df['categoryId'].head()

0    24
1     1
2    22
3    24
4    10
Name: categoryId, dtype: category
Categories (15, int64): [1, 2, 10, 15, ..., 26, 27, 28, 29]

## cat, dfì˜ categoryIdì™€ ê´€ë ¨í•œ ë¬¸ì œ í•´ê²°í•´ë³´ê¸°!

In [27]:
# ê° ê°’ì´ ë‚˜ì˜¨ íšŸìˆ˜ ì¶œë ¥
print(df['categoryId'].value_counts())

24    47880
22    21699
10    14787
17    10544
23     8626
25     6795
26     5972
20     5085
1      4476
15     2793
27     2691
28     2293
19     1966
2      1708
29      239
Name: categoryId, dtype: int64

ì¹´í…Œê³ ë¦¬ì˜ ê²½ìš° 24ë²ˆì´ ê°€ì¥ ë§ì´ ë‚˜ì˜¤ê³  ìˆìŠµë‹ˆë‹¤(24ë²ˆì´ ë¬´ì—‡ì¸ì§€ ì•Œì•„ë³¼ í•„ìš” ìƒê¹€)

### catê³¼ df í•©ì¹˜ê¸°

In [28]:
print(df.head(1))
print('-'*30)
print(cat.head(1))

      video_id        title         publishedAt                 channelId  \
0  uq5LClQN3cE  ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤ 2020-08-09 09:32:48  UCu9BCtGIEr73LXZsKmoujKw

  channelTitle categoryId trending_date       tags  view_count  likes  \
0        ë³´ê²¸ BK         24    2020-08-12  ë³´ê²¸|bokyem     5947503  53326

   dislikes  comment_count  comments_disabled  ratings_disabled description
0    105756         139946              False             False         NaN
------------------------------
                    kind                         etag  id     snippet.title  \
0  youtube#videoCategory  IfWa37JGcqZs-jZeAyFGkbeh6bc   1  Film & Animation

   snippet.assignable         snippet.channelId
0                True  UCBR8-60-B28hp2BmDPdntcQ

In [29]:
# dfì™€ catì˜ ì—´ì´ë¦„ ë§ì¶°ì£¼ê¸° ìœ„í•´
cat.rename(columns={'id':'categoryId'},inplace=True)

In [30]:
# ë³‘í•©í•˜ê¸°
df = pd.merge(df, cat[['categoryId', 'snippet.title']], left_on='categoryId', right_on='categoryId', how='left')

In [31]:
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,description,snippet.title
0,uq5LClQN3cE,ì•ˆë…•í•˜ì„¸ìš” ë³´ê²¸ì…ë‹ˆë‹¤,2020-08-09 09:32:48,UCu9BCtGIEr73LXZsKmoujKw,ë³´ê²¸ BK,24,2020-08-12,ë³´ê²¸|bokyem,5947503,53326,105756,139946,False,False,NaN,Entertainment
1,I-ZbZCHsHD0,ë¶€ë½í† ìŠ¤ì˜ ê³„íš [ì´ëª‡ëª… í”„ë¦¬í€„],2020-08-12 09:00:08,UCRuSxVu4iqTK5kCh90ntAgA,ì´ëª‡ëª…,1,2020-08-12,ì´ëª‡ëª…|ì¬ë°ŒëŠ” ë§Œí™”|ë¶€ë½í† ìŠ¤|ë£¨ì‹œí¼|ì´ëª‡ëª… í”„ë¦¬í€„|ì´ëª‡ëª… ìŠ¤í† ë¦¬,963384,28244,494,3339,False,False,"ì˜¤ëŠ˜ë„ ì •ë§ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤!!ì´ëª‡ëª… ìŠ¤íŠœë””ì˜¤ - ì´ëª‡ëª…, ì‹­ì œê³±, 5Gë¯¼, MOVEí˜...",Film & Animation
2,9d7jNUjBoss,í‰ìƒ ë°˜ì„±í•˜ë©´ì„œ ì‚´ê² ìŠµë‹ˆë‹¤.,2020-08-10 09:54:13,UCMVC92EOs9yDJG5JS-CMesQ,ì–‘íŒ¡ YangPang,22,2020-08-12,ì–‘íŒ¡|ì–‘íŒ¡ìœ íŠœë¸Œ|íŒ¡íŠœë¸Œ|ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ê°€ì¡±|ì–‘íŒ¡ê°€ì¡±ì‹œíŠ¸ì½¤|ì–‘íŒ¡ì–¸ë‹ˆ|í˜„ì‹¤ë‚¨ë§¤|í˜„ì‹¤ìë§¤...,2950885,17974,68898,50688,False,False,NaN,People & Blogs
3,3pI_L3-sMVg,á„‹á…¡á†«á„‚á…§á†¼á„’á…¡á„‰á…¦á„‹á…­ ê½ˆëšœë£¹ì…ë‹ˆë‹¤.,2020-08-11 15:00:58,UCkQCwnkQfgSuPTTnw_Y7v7w,ê½ˆëšœë£¹ Quaddurup,24,2020-08-12,ê½ˆëšœë£¹|í•œêµ­ì—¬í–‰ê¸°|quaddurup|ëšœë£¹ì´|korea|southkorea|vlog|...,1743374,36893,1798,8751,False,False,ì•ìœ¼ë¡œ ì¢€ ë” ê¹”ë”í•œ ì˜ìƒì œì‘ ì•½ì† ë“œë¦¬ê² ìŠµë‹ˆë‹¤.ëŠ˜ ê°ì‚¬ë“œë¦½ë‹ˆë‹¤,Entertainment
4,zrsBjYukE8s,ë°•ì§„ì˜ (J.Y. Park) When We Disco (Duet with ì„ ë¯¸) M/V,2020-08-11 09:00:13,UCaO6TYtlC8U5ttz62hTrZgg,JYP Entertainment,10,2020-08-12,JYP Entertainment|JYP|J.Y.Park|JYPark|ë°•ì§„ì˜|ì„ ë¯¸|S...,3433885,353337,9763,23405,False,False,MelOn http://kko.to/TWyXd7zYjSpotify https://s...,Music

In [32]:
df.rename(columns={'snippet.title':'category_name'},inplace=True)

In [33]:
df.shape

(137554, 16)

### df['category_name']ì˜ ê²°ì¸¡ê°’ í™•ì¸

In [34]:
# category_nameì˜ ê³ ìœ í•œ ê°’ë“¤ í™•ì¸í•˜ê¸°
df['category_name'].unique()

array(['Entertainment', 'Film & Animation', 'People & Blogs', 'Music',
       'Comedy', 'Education', 'News & Politics', 'Sports', nan, 'Gaming',
       'Travel & Events', 'Pets & Animals', 'Science & Technology',
       'Howto & Style', 'Autos & Vehicles'], dtype=object)

In [35]:
# categoryIdê°€ 29ì¸ ê²½ìš°ì˜ category_name í™•ì¸í•˜ê¸°
df.loc[df['categoryId']==29, 'category_name']

17        NaN
150       NaN
303       NaN
476       NaN
640       NaN
         ...
133281    NaN
133499    NaN
133700    NaN
133938    NaN
134151    NaN
Name: category_name, Length: 239, dtype: object

In [36]:
# ì—´ â€˜category_nameâ€™ì´ ê²°ì¸¡ê°’ì¸ í–‰ì˜ title ì¶œë ¥í•´ë³´ê³  ë‚´ìš© í™•ì¸í•˜ê¸°
print(df['title'][df['category_name'].isnull()])
print('-'*30)
print(df['title'][df['category_name'].isnull()].unique())

17        í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]
150       í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]
303       í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]
476       í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]
640       í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]
                         ...
133281                          ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸
133499                          ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸
133700                          ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸
133938                          ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸
134151                          ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸
Name: title, Length: 239, dtype: object
------------------------------
['í­ìš°ë¡œ ì¸í•œ ì¹¨ìˆ˜ ìƒí™©ì‹œ ëŒ€ì²˜ ë°©ë²•ì€? [í–‰ì •ì•ˆì „ë¶€Xì‚¬ë¬¼ê¶ì´]' 'ë™ì„  ìˆ¨ê²¼ë‹¤ê°€ ê³ ë°œì„ ë‹¹í–ˆë‹¤. 2ì–µì´ ë‚˜ì™”ë‹¤ã…£ë„‹ ë‚˜ê°„ ê°€ì¡±'
 '[ê¹€ê´‘ì¼ì˜ ì…] æ–‡ ì§€ì§€ì¸µ, â€œë‹ˆê°€ ë‚˜í•œí…Œ ì´ëŸ´ ìˆ˜ ìˆì–´?â€' 'ì œê°€ ì „ìƒì— ë¬´ìŠ¨ ì£„ê°€ ìˆì–´ ì´ ê³ ìƒì„ í• ê¹Œìš”?'
 'ì„œìš¸ì‹œì²­ ê°€ì„œ ì„¸ë¦¬ë¨¸ë‹ˆ í•˜ëŠ” í™ë³´ë§¨ã…£ì¶©ì£¼ì‚¬ê³¼ë¥¼ ì°¾ì•„ë¼ ì„œìš¸í¸'
 '6.25ì „ìŸ 70ì£¼ë…„ ê¸°ë… ìœ ì—”ì°¸ì „ìš©ì‚¬ ê°ì‚¬ì˜ìƒ - Thanks to UN veterans.' 'ë„ê²½ìˆ˜ ë³‘ì¥ 30ë¬¸ 30ë‹µ'
 'í˜íŠ¸ë³‘ ìƒ‰ê¹”ì´ íˆ¬ëª…í•´ì§€ê³  ìˆë‹¤ê³ ? ã…£í™˜ê²½ë¶€ x ì‚¬ë¬¼ê¶ì´' 'ì‚¬ë§‰ë§ˆì„ ë²¼ìˆ˜í™•(5ë²ˆì§¸ ì´ì•¼ê¸°) / ì°¸ ê¹Œì§€ ì–»ì–´ë¨¹ê³ ~~'
 'ì‚¬ë§‰ë§ˆì„ ë²¼ ìˆ˜í™•(6ë²ˆì§¸ ì´ì•¼ê¸°).  ë²¼ íƒˆê³¡ê¸°'
 '2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.'
 '2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | 2021ë…„ ìƒˆí•´ë§ì´ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.'
 '[4K][ENG Sub] BTS - With Seoul, ì „ì§€ì ì„œìš¸ì‹œì  ì‹œì¦Œ3 í•˜ì´ë¼ì´íŠ¸ ëª¨ìŒ'
 '[ë²•ë¥œìŠ¤ë‹˜ì˜ ì¦‰ë¬¸ì¦‰ì„¤ ì œ 1670íšŒ] ë‚¨í¸ê³¼ í•¨ê»˜ ìˆì„ ë•Œ ê°€ìŠ´ì´ ë‹µë‹µí•˜ê³  ë¨¸ë¦¬ê°€ ë©í•©ë‹ˆë‹¤'
 'ğŸ¥¦íŒ¥ì‹œë£¨ë–¡[Adzuki Bean Rice Cake]ğŸ’›ë°¥ì†¥ì„ ì´ìš©í•´ ë°¥í•˜ë“¯ ì‰½ê²Œí•´ìš”ğŸ’›ì¹¼ë°¥ìƒ#183'
 '[Eng sub] ğŸ¥¦íŒ¥ì‹œë£¨ë–¡[Adzuki Bean Rice Cake]ğŸ’›ë°¥ì†¥ì„ ì´ìš©í•´ ë°¥í•˜ë“¯ ì‰½ê²Œí•´ìš”ğŸ’›ì¹¼ë°¥ìƒ#183'
 '(ê³ í™”ì§ˆ) ë³´ë„ˆìŠ¤í¸!! ì‹¤ì œìƒí™© 1ì¸ì¹­ ê²½ì°° ì‹œì , ì‘ê¸‰í™˜ì ì´ì†¡ì¤‘ì¸ êµ¬ê¸‰ì°¨ ê¸¸ì„ ëš«ì–´ì£¼ëŠ” ì‹¸ì´ì¹´ êµí†µê²½ì°°ê³¼ ì‹œë¯¼ë“¤'
 '[ë²•ë¥œìŠ¤ë‹˜ì˜ ì¦‰ë¬¸ì¦‰ì„¤ ì œ 1706íšŒ] ì €ëŠ” í•œì´ ë§ì´ ìŒ“ì—¬ìˆì–´ìš”'
 'ë°©íƒ„ì†Œë…„ë‹¨ - ì§€ì†ê°€ëŠ¥ë°œì „ëª©í‘œ (SDGs) ëª¨ë©˜íŠ¸(moment) -  | ìœ ì—”'
 'BTS Shine Spotlight on the United Nations as Envoys of the President of the Republic of Korea'
 'BTS (ë°©íƒ„ì†Œë…„ë‹¨) at Global Citizen Live Concert - Permission to Dance | #GlobalCitizenLive'
 'Coldplay and BTS Share New Song My Universe | Global Citizen Live'
 'BTS Performs Permission to Dance in Seoul to open Global Citizen Live | Global Citizen Live'
 'ë¦¬ì–¼ë¨¹ë°©:) ë¡œì œ ë–¡ë³¶ì´!(ft. ë‹¨ë¬´ì§€) | Rose Tteokbokki | Korea tteok | Danmuji Muchim | REAL SOUND | ASMR MUKBANG'
 'ë™ì§€íŒ¥ì£½ì„ ì—¬ëŸ¬ ë²ˆê±°ë¡œìš´ ê³¼ì •ì—†ì´ ì•ˆì³ì£¼ê¸°ë§Œ í•˜ë©´ ì•Œì•„ì„œ ë‹¤ í•´ì£¼ëŠ” ì„¸ìƒì‰¬ìš´ íŒ¥ì£½ë“ì´ê¸°. ì¹¼ë°¥ìƒ#267'
 '[ë‹¨ë…ì˜ìƒ] ë¶€ì‚° í™ˆí”ŒëŸ¬ìŠ¤ ì—°ì‚°ì  5ì¸µ ì£¼ì°¨ì¥ì—ì„œ ì°¨ëŸ‰ ì¶”ë½' 'ì¶©ì£¼ì‹œ ìƒˆë¡œìš´ ì „ë¬¸ê´€ ì˜ì… (feat. ì‚°ì²´ìŠ¤)'
 'ê³ ë“±í•™ìƒ ì‹¬ì •ì§€ ë°œìƒ ê·¸ë¦¬ê³  ìˆ¨ì€ ì˜ì›… 2íƒ„ ì‚´ë ¤ì•¼í•œë‹¤' 'í”í•œ ê³µë¬´ì›ì˜ ì‚¬ê³¼ì¦™ ë¨¹ë°©' 'ë§ˆê° 5ë¶„ ì „' 'ì™œ ì§€ìš°ê³  ê°€ì…¨ì–´ìš”?'
 'ê°€ëŠ¥í•˜ì‹œì£ ?' 'ì „í•œê¸¸ x í™ë³´ë§¨ 1í¸' 'ì „í•œê¸¸ x í™ë³´ë§¨ 2í¸']

TVë°©ì†¡ í•˜ì´ë¼ì´íŠ¸ ì˜ìƒì´ë‚˜ ê³µê³µê¸°ê´€ í™ë³´ ì˜ìƒìœ¼ë¡œ ë³´ì´ëŠ” ì œëª©ì´ ë§ì´ ë³´ì¸ë‹¤.

### ì—´ category_nameâ€™ì—ì„œ ê²°ì¸¡ê°’ì„ â€˜Nonprofits & Activismâ€™ìœ¼ë¡œ ì±„ìš°ê¸°

In [37]:
df.category_name.fillna('Nonprofits & Activism', inplace=True)

In [38]:
# ì¹´í…Œê³ ë¦¬ ì´ë¦„ í™•ì¸í•˜ê¸°
df.category_name.unique()

array(['Entertainment', 'Film & Animation', 'People & Blogs', 'Music',
       'Comedy', 'Education', 'News & Politics', 'Sports',
       'Nonprofits & Activism', 'Gaming', 'Travel & Events',
       'Pets & Animals', 'Science & Technology', 'Howto & Style',
       'Autos & Vehicles'], dtype=object)

In [39]:
# ê²°ì¸¡ê°’ ì—†ìŒ í™•ì¸í•˜ê¸°
df.category_name.isna().any()

False

In [40]:
df.to_csv('C:/Users/ê¹€ì§€í¬/DSL/dataset/youtube_0716_ì§€í¬.csv',sep=',')

-----------------------
í•„ìˆ˜ ì œì¶œ ë‚´ìš© ì™„ë£Œ

# ì¶”ê°€ ë¶„ì„ ë‚´ìš©

In [41]:
df.describe()

          categoryId    view_count         likes       dislikes  comment_count
count  137554.000000  1.375540e+05  1.375540e+05  137554.000000   1.375540e+05
mean       20.426843  1.618720e+06  7.406458e+04     870.091957   8.841621e+03
std         6.267271  6.166372e+06  4.292023e+05    9655.556540   1.125411e+05
min         1.000000  0.000000e+00  0.000000e+00       0.000000   0.000000e+00
25%        19.000000  3.356400e+05  5.743000e+03       0.000000   5.470000e+02
50%        23.000000  6.521940e+05  1.157800e+04     129.000000   1.215000e+03
75%        24.000000  1.307116e+06  2.634875e+04     350.000000   2.870000e+03
max        29.000000  2.963142e+08  1.646425e+07  879358.000000   6.939302e+06

ì•„ë¬´ë˜ë„ ìœ íŠœë¸Œ íŠ¸ë Œë”© ë°ì´í„°ì…‹ì´ì–´ì„œ

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137554 entries, 0 to 137553
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           137554 non-null  object
 1   title              137554 non-null  object
 2   publishedAt        137554 non-null  datetime64[ns]
 3   channelId          137554 non-null  object
 4   channelTitle       137554 non-null  object
 5   categoryId         137554 non-null  int64
 6   trending_date      137554 non-null  datetime64[ns]
 7   tags               137554 non-null  object
 8   view_count         137554 non-null  int64
 9   likes              137554 non-null  int64
 10  dislikes           137554 non-null  int64
 11  comment_count      137554 non-null  int64
 12  comments_disabled  137554 non-null  bool
 13  ratings_disabled   137554 non-null  bool
 14  description        134011 non-null  object
 15  category_name      137554 non-null  object
dtypes: bool(2), datetime64[ns](2), int64(5), object(7)
memory usage: 16.0+ MB

In [43]:
# trend datasetì„ì—ë„ ë¶ˆêµ¬í•˜ê³ , ì¡°íšŒìˆ˜ê°€ 0ê°œë¡œ ë‚˜ì™€ìˆì–´ì„œ, ì¸¡ì •ì´ ì˜ëª»ëœ ê²ƒì¸ì§€ í™•ì¸í•´ë³´ë ¤ê³  í•¨.
df.iloc[df['view_count'].idxmin()]

video_id                                                   gNfxYzW-wME
title                      Hello 2021 Korea | í¬ë¦¬ì—ì´í„°ì™€ í•¨ê»˜í•˜ëŠ” Goodbye 2020
publishedAt                                        2020-12-31 14:00:10
channelId                                     UCOH52Yqq4-rdLvpt2Unsqsw
channelTitle                                             YouTube Korea
categoryId                                                          24
trending_date                                      2021-01-01 00:00:00
tags                 YouTube Originals|YouTube|Hello 2021 Korea|ful...
view_count                                                           0
likes                                                             2052
dislikes                                                            63
comment_count                                                      627
comments_disabled                                                False
ratings_disabled                                                 False
description          ìœ ë¡€ ì—†ëŠ” í•œ í•´ë¥¼ í•¨ê»˜í•´ì¤€ í¬ë¦¬ì—ì´í„° ë° ì•„í‹°ìŠ¤íŠ¸ë¥¼ ë§Œë‚˜ë³´ëŠ” ìœ íŠœë¸Œ ì˜¤ë¦¬ì§€ë„ì˜ ì‹ ...
category_name                                            Entertainment
Name: 24599, dtype: object

ì¢‹ì•„ìš”ë„ ì¢€ ë‹¬ë¦¬ê³ , ëŒ“ê¸€ë„ ë‹¬ë¦° ê²ƒì— ë¹„í•´ ì¡°íšŒìˆ˜ê°€ í•œê°œë„ ì—†ëŠ” ê²ƒìœ¼ë¡œ ë‚˜ì™”ë‹¤. ì´ìƒí•˜ë‹¤..

In [44]:
# ìµœê³  ì¡°íšŒìˆ˜ ì˜ìƒ
df.iloc[df['view_count'].idxmax()]

video_id                                                   WMweEpGlu_U
title                                 BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV
publishedAt                                        2021-05-21 03:46:13
channelId                                     UC3IZKseVpdzPSBaWxBxundA
channelTitle                                               HYBE LABELS
categoryId                                                          10
trending_date                                      2021-06-04 00:00:00
tags                                   BIGHIT|ë¹…íˆíŠ¸|ë°©íƒ„ì†Œë…„ë‹¨|BTS|BANGTAN|ë°©íƒ„
view_count                                                   296314174
likes                                                         16464253
dislikes                                                        181350
comment_count                                                  6939302
comments_disabled                                                False
ratings_disabled                                                 False
description          BTS (ë°©íƒ„ì†Œë…„ë‹¨) 'Butter' Official MV Credits: Dire...
category_name                                                    Music
Name: 55138, dtype: object

In [47]:
df.iloc[df['dislikes'].idxmax()]

video_id                                                   vRXZj0DzXIA
title                  BLACKPINK - 'Ice Cream (with Selena Gomez)' M/V
publishedAt                                        2020-08-28 04:00:11
channelId                                     UCOmHUn--16B90oW2L6FRR3A
channelTitle                                                 BLACKPINK
categoryId                                                          10
trending_date                                      2020-09-05 00:00:00
tags                 YG Entertainment|YG|ì™€ì´ì§€|K-pop|BLACKPINK|ë¸”ë™í•‘í¬|ë¸”...
view_count                                                   184778248
likes                                                         11795696
dislikes                                                        879358
comment_count                                                  2735999
comments_disabled                                                False
ratings_disabled                                                 False
description          BLACKPINK - â€˜Ice Cream (with Selena Gomez)â€™Com...
category_name                                                    Music
Name: 3426, dtype: object

In [48]:
df.plot.scatter(x='dislikes'.
Â  Â  Â  Â  Â  Â  Â  Â  Â  y='biew_count',Â 
Â  Â  Â  Â  Â  Â  Â  Â  Â  s=50, # marker size
Â  Â  Â  Â  Â  Â  Â  Â  Â  c='blue',Â 
Â  Â  Â  Â  Â  Â  Â  Â  Â  alpha=0.5)
plt.title('Scatter Plot of iris by pandas', fontsize=20)
plt.xlabel('Petal Length', fontsize=14)
plt.ylabel('Petal Width', fontsize=14)
plt.show()

SyntaxError: invalid character in identifier (2891516615.py, line 2)

In [51]:
print(df['trending_date'].value_counts().head(40))

KeyError: False

In [67]:

print(df['channelTitle'].value_counts())

ì§¤íˆ°                         792
íŒŒë¿Œë¦¬                        715
SPOTV                      690
ì´ëª‡ëª…                        684
BANGTANTV                  648
                          ...
LOTTEChemical Official       1
ì´ˆì•„ì‹œí‹°                         1
ëŒ€ë¥™ë‚¨TV [clark tv]             1
ë‹¤í‚¤í¬ìŠ¤íŠ¸DAKI POST               1
æ±æ˜ ã‚¢ãƒ‹ãƒ¡ãƒ¼ã‚·ãƒ§ãƒ³å…¬å¼YouTubeãƒãƒ£ãƒ³ãƒãƒ«      1
Name: channelTitle, Length: 3039, dtype: int64

In [79]:
df[df['title'] in 'Butter']

TypeError: 'in <string>' requires string as left operand, not Series

In [53]:
df.query('trending_date'=='2021-05-24')['category_name']

ValueError: expr must be a string to be evaluated, <class 'bool'> given