In [2]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.getcwd()
train = pd.read_csv('credit_train.csv')

train['identity'] = [str(a) + '-' + str(b) + '-' + str(c) + '-' + str(d) + '-' + str(e) +\
                     '-' + str(f) + '-' + str(g) + '-' + str(h) + '-' + str(i) +\
                     '-' + str(j) + '-' + str(k) + '-' + str(l) + '-' + str(m) +\
                     '-' + str(n) + '-' + str(o) + '-' + str(p) + str(q) for a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q in\
                     zip(train['gender'] , train['car'] , train['reality'] , train['child_num'] , train['income_total'] ,
                         train['income_type'] , train['edu_type'] , train['family_type'] , train['house_type'] , 
                         train['DAYS_BIRTH'] , train['DAYS_EMPLOYED'] , train['FLAG_MOBIL'] , train['work_phone'] , 
                         train['phone'] , train['email'] , train['family_size'] , train['occyp_type'])]




unique_id_list = train['identity'].unique()

unique_id_list

train.insert(1 , 'ID' , 0)

for i in range(len(train['identity'].unique())) :
    
    train.loc[np.where(train['identity'] == unique_id_list[i])[0] , 'ID'] = 'ID' + '-' + str(i)
    
train

,index,ID,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,...,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit,identity
0,0,ID-0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,...,-4709,1,0,0,0,NaN,2.0,-6.0,1.0,F-N-N-0-202500.0-Commercial associate-Higher e...
1,1,ID-1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,...,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0,F-N-Y-1-247500.0-Commercial associate-Secondar...
2,2,ID-2,M,Y,Y,0,450000.0,Working,Higher education,Married,...,-4434,1,0,1,0,Managers,2.0,-22.0,2.0,M-Y-Y-0-450000.0-Working-Higher education-Marr...
3,3,ID-3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,...,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0,F-N-Y-0-202500.0-Commercial associate-Secondar...
4,4,ID-4,F,Y,Y,0,157500.0,State servant,Higher education,Married,...,-2105,1,0,0,0,Managers,2.0,-26.0,2.0,F-Y-Y-0-157500.0-State servant-Higher educatio...
5,5,ID-5,F,N,Y,2,270000.0,Working,Secondary / secondary special,Married,...,-4996,1,0,0,1,High skill tech staff,4.0,-18.0,1.0,F-N-Y-2-270000.0-Working-Secondary / secondary...
6,6,ID-6,F,N,N,0,315000.0,Working,Secondary / secondary special,Separated,...,-1978,1,0,0,1,Core staff,1.0,-41.0,2.0,F-N-N-0-315000.0-Working-Secondary / secondary...
7,7,ID-7,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,...,-5420,1,0,0,1,Drivers,2.0,-53.0,0.0,M-N-Y-0-270000.0-Commercial associate-Secondar...
8,8,ID-8,M,Y,Y,1,180000.0,Commercial associate,Higher education,Married,...,-1466,1,0,0,1,NaN,3.0,-38.0,2.0,M-Y-Y-1-180000.0-Commercial associate-Higher e...
9,9,ID-9,F,N,Y,0,103500.0,Working,Secondary / secondary special,Married,...,-1308,1,0,0,0,Medicine staff,2.0,-5.0,2.0,F-N-Y-0-103500.0-Working-Secondary / secondary...
10,10,ID-10,F,N,Y,0,193500.0,Working,Secondary / secondary special,Separated,...,-2213,1,1,1,1,Laborers,1.0,-40.0,2.0,F-N-Y-0-193500.0-Working-Secondary / secondary...
11,11,ID-11,M,Y,Y,1,135000.0,Commercial associate,Higher education,Married,...,-91,1,0,0,0,Managers,3.0,-51.0,2.0,M-Y-Y-1-135000.0-Commercial associate-Higher e...
12,12,ID-12,F,Y,Y,1,157500.0,Commercial associate,Secondary / secondary special,Married,...,-2162,1,0,0,0,Accountants,3.0,-60.0,0.0,F-Y-Y-1-157500.0-Commercial associate-Secondar...
13,13,ID-13,F,N,N,0,135000.0,Working,Higher education,Married,...,-2474,1,0,1,0,Sales staff,2.0,-41.0,2.0,F-N-N-0-135000.0-Working-Higher education-Marr...
14,14,ID-14,F,N,Y,0,157500.0,Pensioner,Secondary / secondary special,Single / not married,...,365243,1,0,1,0,NaN,1.0,-41.0,2.0,F-N-Y-0-157500.0-Pensioner-Secondary / seconda...
15,15,ID-15,M,Y,Y,2,157500.0,Working,Secondary / secondary special,Married,...,-4056,1,0,1,0,Drivers,4.0,-60.0,0.0,M-Y-Y-2-157500.0-Working-Secondary / secondary...
16,16,ID-16,M,N,Y,0,180000.0,Working,Secondary / secondary special,Married,...,-4553,1,0,1,0,Laborers,2.0,-2.0,1.0,M-N-Y-0-180000.0-Working-Secondary / secondary...
17,17,ID-17,M,N,N,0,270000.0,Commercial associate,Secondary / secondary special,Civil marriage,...,-984,1,0,0,1,Sales staff,2.0,-14.0,2.0,M-N-N-0-270000.0-Commercial associate-Secondar...
18,18,ID-18,F,N,Y,0,216000.0,Pensioner,Secondary / secondary special,Married,...,365243,1,0,0,0,NaN,2.0,-37.0,2.0,F-N-Y-0-216000.0-Pensioner-Secondary / seconda...
19,19,ID-19,F,N,Y,0,180000.0,Working,Secondary / secondary special,Married,...,-6031,1,0,0,0,NaN,2.0,-7.0,2.0,F-N-Y-0-180000.0-Working-Secondary / secondary...
20,20,ID-20,M,N,N,0,180000.0,Working,Secondary / secondary special,Married,...,-1753,1,0,1,0,NaN,2.0,-35.0,2.0,M-N-N-0-180000.0-Working-Secondary / secondary...
21,21,ID-21,F,N,N,0,157500.0,Pensioner,Secondary / secondary special,Married,...,365243,1,0,1,0,NaN,2.0,-7.0,2.0,F-N-N-0-157500.0-Pensioner-Secondary / seconda...
22,22,ID-22,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Civil marriage,...,-1357,1,0,0,0,Laborers,2.0,-22.0,0.0,F-N-N-0-157500.0-Commercial associate-Secondar...
23,23,ID-23,M,Y,N,0,225000.0,Working,Secondary / secondary special,Married,...,-444,1,1,1,1,NaN,2.0,-18.0,2.0,M-Y-N-0-225000.0-Working-Secondary / secondary...
24,24,ID-24,F,N,N,0,202500.0,Pensioner,Secondary / secondary special,Single / not married,...,365243,1,0,1,0,NaN,1.0,-5.0,2.0,F-N-N-0-202500.0-Pensioner-Secondary / seconda...
25,25,ID-25,F,N,Y,1,225000.0,Commercial associate,Secondary / secondary special,Married,...,-3694,1,0,0,0,Realty agents,3.0,-4.0,2.0,F-N-Y-1-225000.0-Commercial associate-Secondar...
26,26,ID-26,M,Y,N,1,135000.0,Working,Higher education,Married,...,-3353,1,1,0,0,Laborers,3.0,-13.0,2.0,M-Y-N-1-135000.0-Working-Higher education-Marr...
27,27,ID-27,M,Y,Y,0,405000.0,State servant,Secondary / secondary special,Married,...,-3500,1,0,0,0,NaN,2.0,-57.0,2.0,M-Y-Y-0-405000.0-State servant-Secondary / sec...
28,28,ID-28,M,Y,N,0,112500.0,Commercial associate,Secondary / secondary special,Married,...,-2325,1,1,1,0,Drivers,2.0,-47.0,2.0,M-Y-N-0-112500.0-Commercial associate-Secondar...
29,29,ID-29,F,N,Y,0,121500.0,Commercial associate,Secondary / secondary special,Married,...,-1711,1,0,1,0,Sales staff,2.0,-22.0,0.0,F-N-Y-0-121500.0-Commercial associate-Secondar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26427,26427,ID-4644,F,N,Y,0,67500.0,Pensioner,Secondary / secondary special,Widow,...,365243,1,0,0,0,NaN,1.0,-54.0,2.0,F-N-Y-0-67500.0-Pensioner-Secondary / secondar...
26428,26428,ID-2603,F,Y,Y,2,270000.0,Working,Secondary / secondary special,Civil marriage,...,-525,1,0,0,1,Core staff,4.0,-23.0,1.0,F-Y-Y-2-270000.0-Working-Secondary / secondary...
26429,26429,ID-2154,F,Y,Y,1,67500.0,Working,Secondary / secondary special,Married,...,-931,1,0,1,1,Laborers,3.0,-43.0,1.0,F-Y-Y-1-67500.0-Working-Secondary / secondary ...
26430,26430,ID-1624,F,N,Y,0,112500.0,Working,Incomplete higher,Civil marriage,...,-1751,1,0,0,0,NaN,2.0,-19.0,2.0,F-N-Y-0-112500.0-Working-Incomplete higher-Civ...
26431,26431,ID-6766,F,N,Y,0,225000.0,Pensioner,Secondary / secondary special,Widow,...,365243,1,0,0,1,NaN,1.0,-60.0,1.0,F-N-Y-0-225000.0-Pensioner-Secondary / seconda...
26432,26432,ID-1497,F,Y,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,...,365243,1,0,1,0,NaN,2.0,-17.0,1.0,F-Y-Y-0-72000.0-Pensioner-Secondary / secondar...
26433,26433,ID-8751,F,Y,N,0,121500.0,State servant,Higher education,Married,...,-4973,1,0,1,0,NaN,2.0,-31.0,2.0,F-Y-N-0-121500.0-State servant-Higher educatio...
26434,26434,ID-4496,F,Y,Y,0,121500.0,Working,Higher education,Married,...,-1682,1,0,0,1,Sales staff,2.0,-4.0,2.0,F-Y-Y-0-121500.0-Working-Higher education-Marr...
26435,26435,ID-8752,F,N,N,1,126000.0,Working,Secondary / secondary special,Widow,...,-473,1,0,0,0,NaN,2.0,-40.0,2.0,F-N-N-1-126000.0-Working-Secondary / secondary...
26436,26436,ID-8753,F,N,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,...,-97,1,0,0,0,Cleaning staff,1.0,-22.0,2.0,F-N-Y-0-225000.0-Commercial associate-Secondar...
26437,26437,ID-654,M,N,Y,0,180000.0,Working,Secondary / secondary special,Married,...,-3647,1,0,0,0,NaN,2.0,-13.0,2.0,M-N-Y-0-180000.0-Working-Secondary / secondary...
26438,26438,ID-457,M,Y,N,0,225000.0,Working,Secondary / secondary special,Married,...,-1315,1,0,0,0,Drivers,2.0,-5.0,2.0,M-Y-N-0-225000.0-Working-Secondary / secondary...
26439,26439,ID-8420,F,N,Y,0,67500.0,Pensioner,Secondary / secondary special,Married,...,365243,1,0,0,0,NaN,2.0,-57.0,2.0,F-N-Y-0-67500.0-Pensioner-Secondary / secondar...
26440,26440,ID-6027,F,N,Y,2,243000.0,State servant,Higher education,Married,...,-3395,1,0,0,0,Core staff,4.0,-15.0,2.0,F-N-Y-2-243000.0-State servant-Higher educatio...
26441,26441,ID-4726,F,N,Y,0,90000.0,Pensioner,Incomplete higher,Separated,...,365243,1,0,0,0,NaN,1.0,-43.0,2.0,F-N-Y-0-90000.0-Pensioner-Incomplete higher-Se...
26442,26442,ID-2633,F,N,Y,0,103500.0,State servant,Secondary / secondary special,Civil marriage,...,-473,1,0,0,0,Cooking staff,2.0,-5.0,2.0,F-N-Y-0-103500.0-State servant-Secondary / sec...
26443,26443,ID-811,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Single / not married,...,365243,1,0,0,0,NaN,1.0,-21.0,1.0,F-N-Y-0-90000.0-Pensioner-Secondary / secondar...
26444,26444,ID-7687,M,N,Y,0,315000.0,Commercial associate,Higher education,Married,...,-4113,1,0,0,0,Managers,2.0,-19.0,2.0,M-N-Y-0-315000.0-Commercial associate-Higher e...
26445,26445,ID-3577,F,Y,Y,0,180000.0,Commercial associate,Incomplete higher,Married,...,-4144,1,0,0,0,Laborers,2.0,-5.0,0.0,F-Y-Y-0-180000.0-Commercial associate-Incomple...
26446,26446,ID-6491,F,N,Y,0,135000.0,Working,Secondary / secondary special,Civil marriage,...,-9698,1,0,0,1,Managers,2.0,-41.0,2.0,F-N-Y-0-135000.0-Working-Secondary / secondary...
26447,26447,ID-2086,M,N,Y,2,99000.0,Working,Secondary / secondary special,Married,...,-1026,1,1,1,0,Laborers,4.0,-43.0,2.0,M-N-Y-2-99000.0-Working-Secondary / secondary ...
26448,26448,ID-6710,M,N,Y,0,292500.0,Commercial associate,Higher education,Married,...,-887,1,0,0,0,Laborers,2.0,-23.0,0.0,M-N-Y-0-292500.0-Commercial associate-Higher e...
26449,26449,ID-6210,F,N,N,0,90000.0,Working,Secondary / secondary special,Married,...,-2418,1,1,1,0,NaN,2.0,-2.0,1.0,F-N-N-0-90000.0-Working-Secondary / secondary ...
26450,26450,ID-8754,F,N,N,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,...,-581,1,0,1,0,Laborers,1.0,-37.0,2.0,F-N-N-0-225000.0-Commercial associate-Secondar...
26451,26451,ID-3315,F,N,Y,0,202500.0,Working,Higher education,Married,...,-803,1,1,1,0,Accountants,2.0,-44.0,1.0,F-N-Y-0-202500.0-Working-Higher education-Marr...
26452,26452,ID-3300,F,N,N,2,225000.0,State servant,Secondary / secondary special,Married,...,-1984,1,0,0,0,Core staff,4.0,-2.0,1.0,F-N-N-2-225000.0-State servant-Secondary / sec...
26453,26453,ID-8755,F,N,Y,1,180000.0,Working,Higher education,Separated,...,-2475,1,0,0,0,NaN,2.0,-47.0,2.0,F-N-Y-1-180000.0-Working-Higher education-Sepa...
26454,26454,ID-8756,F,Y,N,0,292500.0,Working,Secondary / secondary special,Civil marriage,...,-2015,1,0,0,0,Core staff,2.0,-25.0,2.0,F-Y-N-0-292500.0-Working-Secondary / secondary...
26455,26455,ID-8757,M,N,Y,0,171000.0,Working,Incomplete higher,Single / not married,...,-107,1,0,0,0,Laborers,1.0,-59.0,2.0,M-N-Y-0-171000.0-Working-Incomplete higher-Sin...
26456,26456,ID-8758,F,N,N,0,81000.0,Working,Secondary / secondary special,Civil marriage,...,-1013,1,0,0,0,Security staff,2.0,-9.0,2.0,F-N-N-0-81000.0-Working-Secondary / secondary ...

In [9]:
occyp_na = train[train['occyp_type'].isna()]

no_occyp = occyp_na[occyp_na['DAYS_EMPLOYED'] == 365243]

old_retired = no_occyp[no_occyp['DAYS_BIRTH'] <= -21900]

unemployed = no_occyp[no_occyp['DAYS_BIRTH'] >= -21900]

a = len(no_occyp[no_occyp['DAYS_BIRTH']<= -15000])

a

4390

4390